@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f2f5;
  color: #737373;
  min-width: 320px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #18191a;
    color: #e4e6eb;
  }
}

.sidebar-selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 0.25rem;
  height: 100%;
  background-color: #1a77f2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #1a77f2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.suggested-grid {
  display: flex;
  overflow-x: auto;
  padding: 0 16px 16px 16px;
  gap: 8px;
}

.suggested-grid > div {
  flex: 0 0 144px;
  height: 220px;
}
  
.sponsored-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@layer utilities {
  .lg-layout-grid {
    display: grid;
    grid-template-columns: 1fr 680px 1fr;
  }
}